<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome &nbsp&nbsp<%= name %></p>
<br>
<p class="lead mb-2">Dear &nbsp&nbsp<%= name %>, I want you to know that you are capable of achieving greatness. Education is a journey filled with challenges, but it's in overcoming these challenges that you grow and become stronger. Remember that mistakes are stepping stones to success, and setbacks are opportunities to learn and improve. Keep your goals in sight, stay focused, and never underestimate your own potential. Believe in yourself, for you have the power to shape your future. Embrace each day as a chance to expand your knowledge and make a difference. Your hard work and dedication will lead you to the bright future you envision. Keep pushing forward, and never give up on your dreams. You are on the path to success, and I have no doubt that you will achieve remarkable things.</p>
<br>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>